<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi tiết bãi xe</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
    <div th:replace="fragments/navbar::navbar"></div>
    <div class="container-fluid justify-content-center" style="max-width: 1300px;">
        <div class="text-center">
            <h3><strong>CHI TIẾT BÃI XE</strong></h3>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-5">
                        <div class="card border-success">
                            <div class="card-header">
                                <h5 class="card-title text-success">Thông tin chi tiết bãi xe</h5>
                            </div>
                            <div class="card-body">
                                <table class="table table-hover">
                                    <tr>
                                        <td><strong>Tên bãi xe</strong></td>
                                        <td>[[${bikeParking.name}]]</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Mã bãi xe</strong></td>
                                        <td>[[${bikeParking.id}]]</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Địa chỉ</strong></td>
                                        <td>[[${bikeParking.address}]]</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Diện tích bãi xe</strong></td>
                                        <td>[[${bikeParking.area}]]</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Tổng số lượng xe</strong></td>
                                        <td>[[${totalQuantity}]]</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Số vị trí xe còn trống</strong></td>
                                        <td>
                                            <ul>
                                                <li>Xe đơn thường : [[${normalSingleBikeQuantity}]]</li>
                                                <li>Xe đôi thường : [[${normalCoupleBikeQuantity}]]</li>
                                                <li>Xe điện : [[${electricSingleBikeQuantity}]]</li>
                                            </ul>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><strong> Khoảnh cách ước tính tới bãi xe </strong> </td>
                                        <td>150km</td>
                                    </tr>
                                    <tr>
                                        <td><strong> Thời gian tới bãi xe bằng đường bộ </strong></td>
                                        <td>6 tiếng</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="card border-success">
                            <div class="card-header">
                                <h5 class="card-title text-success">Danh sách xe có trong bãi</h5>
                            </div>
                            <div class="row">
                                <form class="d-inline-flex m-2"
                                    th:action="@{'/bike-parking/' + ${bikeParking.id} + '/bike'}" method="get">
                                    <input class="form-control" type="text" placeholder="Nhập mã xe.." name="bikeCode"
                                        style="width: auto; margin-right: 5px;">
                                    <button class="btn btn-outline-success" type="submit">Chọn</button>
                                </form>
                            </div>
                            <div th:if="${param.getBikeSuccess != null}" class="text-danger p-2">
                                Không tồn tại xe có mã vạch vừa nhập.
                            </div>
                            <div class="card-body">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Tên xe</th>
                                            <th>Mã xe</th>
                                            <th>Loại xe</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="bike, state : ${bikes}">
                                            <td>[[${state.index + 1}]]</td>
                                            <td>[[${bike.name}]]</td>
                                            <td>[[${bike.codeBike}]]</td>
                                            <td
                                                th:if="${bike instanceOf T(eco.bike.rental.entity.bike.NormalSingleBike)}">
                                                Xe đạp đơn thường</td>
                                            <td
                                                th:if="${bike instanceOf T(eco.bike.rental.entity.bike.NormalCoupleBike)}">
                                                Xe đạp đôi thường</td>
                                            <td
                                                th:if="${bike instanceOf T(eco.bike.rental.entity.bike.ElectricSingleBike)}">
                                                Xe đạp đơn điện</td>
                                            <td>
                                                <a th:href="@{'/bike-parking/' +${bikeParking.id} + '/bike/' + ${bike.id}}"
                                                    type="button" class="btn btn-primary">Chi tiết</a>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>