<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi tiết xe</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
    <div th:replace="fragments/navbar::navbar"></div>
    <div class="container-fluid justify-content-center" style="max-width: 1300px;">
        <div class="text-center">
            <h3><strong>CHI TIẾT THÔNG TIN XE</strong></h3>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="card border-success">
                            <div class="card-header">
                                <h5 class="card-title text-success">Thông tin chi tiết xe</h5>
                            </div>
                            <div class="card-body">
                                <span><strong> Mã xe :</strong> [[${bike.codeBike}]]</span><br>
                                <span><strong> Tên xe :</strong> [[${bike.name}]]</span><br>
                                <span
                                    th:if="${bike instanceOf T(eco.bike.rental.entity.bike.NormalSingleBike)}"><strong>Loại
                                        xe :</strong>
                                    Đơn thường</span>
                                <span
                                    th:if="${bike instanceOf T(eco.bike.rental.entity.bike.NormalCoupleBike)}"><strong>Loại
                                        xe :</strong>
                                    Đôi thường</span>
                                <span
                                    th:if="${bike instanceOf T(eco.bike.rental.entity.bike.ElectricSingleBike)}"><strong>Loại
                                        xe :</strong>
                                    Đơn điện</span><br>
                                <span><strong>Biển số xe :</strong> [[${bike.bikeNumber}]] </span><br>
                                <span
                                    th:if="${bike instanceOf T(eco.bike.rental.entity.bike.ElectricSingleBike)}"><strong>Lượng
                                        pin hiện có :</strong> [[${bike.currentBattery}]] </span>
                                <span
                                    th:if="${bike instanceOf T(eco.bike.rental.entity.bike.ElectricSingleBike)}"><strong>Thời
                                        gian ước tính :</strong> [[${bike.estimatedTime}]] phút</span><br
                                    th:if="${bike instanceOf T(eco.bike.rental.entity.bike.ElectricSingleBike)}">
                                <span><strong>Giá trị xe :</strong> [[${bike.bikePrice}]]</span><br>
                                <span><strong>Tiền cọc :</strong> [[${bike.bikePrice * 0.4}]] VNĐ</span>
                            </div>

                        </div>
                        <div class="mt-2 text-center">
                            <button id="pay" type="button" class="btn btn-primary">Thuê ngay và luôn</button>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card border-success">
                            <div class="card-body">
                                <h5 class="card-title"><strong>Địa chỉ thuê</strong></h5>
                                <span>Bãi đỗ xe số 1</span><br>
                                <span>Địa chỉ hoàng mai hà nội</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>