<!doctype html>
<html lang="en">

<head>
    <title>Trả xe</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.0.2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light shadow p-3 mb-2 bg-body rounded">
            <div class="container-fluid justify-content-center">
                <div>
                    <a class="navbar-brand" href="#"><strong>ECOBIKE SYSTEM</strong></a>
                </div>
                <div class="collapse navbar-collapse justify-content-end">
                    <ul class="nav justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link" href="home.html"><b>DANH SÁCH BÃI XE</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="rentingBicycleList.html"><b>DANH SÁCH XE ĐANG THUÊ</b></a>
                        </li>
                    </ul>
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            My name
                            <img src="avatar.png" class="avatar"
                                style="vertical-align: middle; width: 50px; height: 35px; border-radius: 10%;">
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </nav>
    </header>
    <main>
        <section class="h-100">
            <div class="text-center">
                <h3><strong>TRẢ XE</strong></h3>
            </div>
            <div class="container">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-5">
                                <div id="infoBike" class="card border-success">
                                    <div class="card-header text-success">
                                        <strong>Thông tin xe muốn trả</strong>
                                    </div>
                                    <div class="card-body">
                                        <span>Tên:&emsp;Pro Bike</span><br>
                                        <span>Mã:&emsp; XE01</span><br>
                                        <span>Loại:&emsp;Đơn thường </span>
                                    </div>
                                </div>
                                <div class="card mt-2 border-success">
                                    <div class="card-header text-success">
                                        <strong>Trả xe tại bãi xe</strong>
                                    </div>
                                    <div class="card-body">
                                        <span>Tên:&emsp;ABC</span><br>
                                        <span>Mã:&emsp; BXE01</span><br>
                                        <span>Địa chỉ:&emsp;Công viên Yên Sở </span>
                                    </div>
                                </div>
                                <div class="card mt-2 border-success">
                                    <div class="card-header text-success">
                                        <strong>Chi phí</strong>
                                    </div>
                                    <div class="card-body">
                                        <span>Tổng thời gian thuê:&emsp;90 phút</span><br>
                                        <span>Tổng tiền thuê:&emsp; 100 000 VNĐ</span><br>
                                        <span>Tiền đã cọc:&emsp;500 000 VNĐ </span><br>
                                        <span>Số tiền cần trả:&emsp;-400 000 VNĐ </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-7">
                                <div class="card border-success">
                                    <div class="card-header text-success">
                                        <strong>Thông tin thanh toán</strong>
                                    </div>
                                    <div class="card-body">
                                        <span>Tên chủ thẻ:&emsp;Hoàng Trung</span><br>
                                        <span>Mã thẻ:&emsp; 9876543210123</span><br>
                                        <span>Ngân hàng phát hành:&emsp;Vietin Bank</span><br>
                                        <span>Ngày hết hạn:&emsp;01/01/2025 </span><br>
                                        <span>Mã bảo mật:&emsp;956485 </span><br>
                                        <span>Mội dung giao dịch:&emsp;Thanh toán tiền thuê xe Pro Bike tại bãi xe ABC
                                        </span><br>
                                    </div>
                                    <div class="card-footer text-muted">
                                        <span><strong>TỔNG TIỀN THUÊ: &emsp; - 400 000 VNĐ</strong></span>
                                    </div>
                                </div>
                                <div class="mt-2 text-center">
                                    <button id="pay" type="button" class="btn btn-primary">Thanh toán</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
    <script>
    </script>
</body>

</html>