<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>Chọn bãi xe để trả xe</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.0.2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body>
    <div th:replace="fragments/navbar::navbar"></div>
    <main>
        <section class="h-100">
            <div class="text-center">
                <h3><strong>TRẢ XE PRO BIKE</strong></h3>
            </div>
            <div class="container-fluid justify-content-center" style="max-width: 900px;">
                <form class="d-flex">
                    <input type="text" class="form-control" name="bikeAreaCode" id="bikeAreaCode"
                        aria-describedby="helpId" placeholder="Nhập mã bãi xe để trả xe...">
                    <button class="btn btn-outline-success" type="submit" style="white-space: nowrap;">Chọn</button>
                </form>
            </div>
            <div class="container">
                <!-- <div class="mb-3">
                  <label for="" class="form-label"></label>
                  <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                  <small id="helpId" class="form-text text-muted">Help text</small>
                </div> -->
                <div class="card-body">
                    <div class="row text-center border-top pt-3">
                        <h4><strong>Chọn bãi xe để trả xe</strong></h4>
                    </div>
                    <div class="container">
                        <table class="table table-hover text-center table-borderless">
                            <thead>
                                <tr class="table-primary">
                                    <th scope="col">STT</th>
                                    <th scope="col">Tên bãi xe</th>
                                    <th scope="col">Mã bãi xe</th>
                                    <th scope="col">Địa chỉ</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="bikeParking, state : ${bikeParkingList}">
                                    <th scope="row">[[${state.index} + 1]]</th>
                                    <td>[[${bikeParking.name}]]</td>
                                    <td>[[${bikeParking.id}]]</td>
                                    <td>[[${bikeParking.address}]]</td>
                                    <td>
                                        <a class="btn btn-primary"
                                            th:href="@{/bike-backing/pay(bikeCode=${bikeCode}, orderId=${orderId}, bikeParkingId=${bikeParking.id})}">Chọn</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
    <script>
    </script>
</body>

</html>